# React Frontend
clinique-front/node_modules
clinique-front/build
clinique-front/.env

# Java Backend (Spring)
clinique/target
clinique/.idea
clinique/.classpath
clinique/.project
clinique/.settings
*.iml

# Système
.DS_Store
Thumbs.db

# ========================
# Uploads (DONNÉES PATIENTS)
# ========================
uploads/
uploads/**

# ========================
# Terraform (CRITIQUE)
# ========================
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
